.navbar {
    position: absolute;
    width: 100vw;
    height: var(--nav-height);
    background-color: #E4E4E4;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    font-size: 0.9rem;
    font-family: Roboto, sans-serif;
}

.nav-title {
    font-size: 1.4em;
    font-family: inherit;
}

.auth-btn {
    background-color: inherit;
    border: none;
    font-size: 1em;
}

.auth-btn:hover {
    cursor: pointer;
}

.sign-in-btn {
    position: absolute;
    left: 92%;
}

.signed-in-user-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;

    background-image: url("../../images/default-profile-pic.svg");  /* default profile pic */
    background-position: center;
    background-size: 36px 36px;
}